<h2>Giỏ hàng</h2>
<br/>
<div *ngIf="authenSv.currentUser.userId">
  <div class="table" style="width: auto; background-color: white;" > 
    <nz-table 
    #rowSelectionTable
    nzShowPagination
    nzShowSizeChanger
    [nzData]="carts"
    >
    <thead>
      <tr>
        <th th-default>Tên sản phẩm</th>
        <th th-default>số lượng</th>
        <th th-default>Giá</th>
        <th action nzRight="0px">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td>{{data.productName}}</td>
        <td>{{ data.amount }}</td>
        <td>{{ data.priceTotal | currency: 'VND'}}</td>
        <td action nzRight="0px">
          <a nz-popconfirm nzTitle="Bạn có chắc muốn xóa mục này?" nzOkText="Đồng ý"  nzCancelText="Hủy" (nzOnConfirm)="deleteRow(data.id)">Xoá</a>
        </td>
      </tr>
    </tbody>
    </nz-table>
  </div>

  <br/>

  <button style="float: right;" nzSize="large" nz-button nzType="primary" (click)="pay()" *ngIf="carts.length != 0">
    <span>Tiến Hành Đặt Hàng</span>
  </button>
</div>

<div *ngIf="!authenSv.currentUser.userId">
    <nz-result nzStatus="warning" nzTitle="Vui Lòng Đăng Nhập">
        <div nz-result-extra>
          <button nz-button nzType="primary" (click)="returnLogin()">Login</button>
        </div>
      </nz-result>
</div>
