<h2>Quản lý Metadata</h2>

<div class="filter-area">
  <div nz-row nzType="flex" nzAlign="middle">
    <div nz-col nzSpan="3"><label>Loại Metadata:</label></div>
    <div nz-col nzSpan="6">
      <nz-select style="width: 100%;" [(ngModel)]="selectedMetadataType" nzAllowClear nzDropdownMatchSelectWidth>
        <nz-option *ngFor="let item of metadataTypes" [nzValue]="item.id" [nzLabel]="item.code + ' - ' + item.name"></nz-option>
      </nz-select>
    </div>
  </div>

  <br />

  <div nz-row nzType="flex" nzAlign="middle">
    <div nz-col nzSpan="3"><label>Từ khoá:</label></div>
    <div nz-col nzSpan="6"><input #box type="text" nz-input placeholder="Nhập từ khóa" [(ngModel)]="tableInfo.keyWord" /></div>
    <div nz-col nzSpan="2" nzOffset="1">
      <button nz-button nzType="primary" (click)="search()">
        <i class="anticon" nz-icon nzType="search"></i>Tìm
      </button>
    </div>
  </div>
  <br />
  <div nz-row nzJustify="end" nzType="flex">
    <div nz-col nzSpan="1">
      <button nzSize="small" nz-button nzType="primary" (click)="edit(null)">
        <i class="anticon anticon-plus"></i>Thêm
      </button>

    </div>
    <div nz-col nzSpan="2" nzOffset="1">
      <button nzSize="small" nz-button nzType="primary" (click)="refresh()">
        <i nz-icon nzType="sync" nzTheme="outline"></i>Refresh
      </button>
    </div>
  </div>
</div>

<div class="p10"></div>

<div class="table"> 
  <nz-table 
  #rowSelectionTable
  nzShowPagination
  nzShowSizeChanger
  [nzData]="metadataValues"
  >
  <thead>
    <tr>
      <th th-default>Code</th>
      <th th-default>Tên</th>
      <th th-default>Loại</th>
      <th th-default>Người tạo</th>
      <th th-default>Ngày tạo</th>
      <th th-default>Người sửa</th>
      <th th-default>Ngày sửa</th>
      <th action nzRight="0px">Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td>{{data.code}}</td>
      <td>{{data.name}}</td>
      <td *ngIf="data.typeCode">{{data.typeCode  + ' - ' + data.typeName }}</td>
      <td>{{ data.createdBy }}</td>
      <td>{{ data.created | date:'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ data.modifiedBy }}</td>
      <td>{{ data.modified | date:'dd/MM/yyyy HH:mm' }}</td>
      <td action nzRight="0px">
        <a (click)="edit(data)">Sửa</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzTitle="Bạn có chắc muốn xóa mục này?" nzOkText="Đồng ý"  nzCancelText="Hủy" (nzOnConfirm)="deleteRow(data.id)">Xoá</a>
      </td>
    </tr>
  </tbody>
  </nz-table>
</div>

