<div id="form-main">

  <div nz-col nzSpan="4" nzOffset="2" style="margin-top: 10px;">
    <h1 class="sizeH1">English</h1>
  </div>

  <div nz-row nzType="flex" nzAlign="middle" style="padding-top: 250px;" >
    <!-- image -->
    <div nz-col nzSpan="3" nzOffset="" class="imageEarth">
    </div>
    <!-- form login -->
    <div nz-col nzSpan="8" nzOffset="2">
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <h1 style="text-align: center; color: whitesmoke;">ĐĂNG NHẬP</h1>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <input type="text" nz-input formControlName="userName" placeholder="Username" />
              <nz-form-explain *ngIf="showExplain('userName', 'required')">
                Vui lòng điền Username
              </nz-form-explain>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <input type="password" nz-input formControlName="password" placeholder="Password" />
              <nz-form-explain *ngIf="showExplain('password', 'required')">
                Vui lòng điền Password
              </nz-form-explain>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>

  </div>




  <br />

</div>
