<nz-layout>
  <nz-header>
    <!-- <div class="logo"></div> -->
    <div class="indexMenu">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzSelected>
          <nz-avatar [nzShape]="'square'" nzSrc="/assets/images/earth-icon-menu.png" [nzSize]="50"></nz-avatar>
          NameApp
        </li>
        <li nz-menu-item nzSelected>
          <nz-avatar [nzShape]="'square'" nzSrc="/assets/images/grammar-icon-menu.png" [nzSize]="50"></nz-avatar>
          Ngữ Pháp
        </li>
        <li nz-menu-item nzSelected>
          <nz-avatar [nzShape]="'square'" nzSrc="/assets/images/vocabulary-icon-menu.png" [nzSize]="50"></nz-avatar>
          Từ Vựng
        </li>
        <li nz-menu-item nzSelected>
          <nz-avatar [nzShape]="'square'" nzSrc="/assets/images/sword-icon-menu.png" [nzSize]="50"></nz-avatar>
          Đấu Trường
        </li>
        <li nz-menu-item nzSelected>
          <nz-avatar [nzShape]="'square'" nzSrc="/assets/images/store-icon-menu.png" [nzSize]="50"></nz-avatar>
          Cửa Hàng
        </li>
        <li nz-menu-item nzSelected>
          <a nz-dropdown [nzDropdownMenu]="store">
            <nz-avatar [nzShape]="'square'" nzSrc="/assets/images/vcoin-icon-menu.png" [nzSize]="50"></nz-avatar>
            100
          </a>
          <nz-dropdown-menu #store="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>Cửa hàng</li>
            </ul>
          </nz-dropdown-menu>
        </li>
        <li nz-menu-item nzSelected>
          <nz-avatar [nzShape]="'square'" nzSrc="/assets/images/pointTotal-icon-menu.png" [nzSize]="50"></nz-avatar>
          500
        </li>
        <li nz-menu-item nzSelected>
          <a nz-dropdown [nzDropdownMenu]="avatar">
            <nz-avatar [nzSize]="50" nzSrc="/assets/images/avatar.png"></nz-avatar>
          </a>
          <nz-dropdown-menu #avatar="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>Hồ Sơ Của Bạn</li>
              <li nz-menu-item>Cài Đặt</li>
              <li nz-menu-item>Đăng Xuất</li>
            </ul>
          </nz-dropdown-menu>
        </li>
      </ul>
    </div>
  </nz-header>
  <nz-layout>
    <nz-layout class="inner-layout">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label [nzLg]="{span: 3, offset: 0}">Mã tài khoản</nz-form-label>
            <nz-form-control [nzLg]="{span: 16, offset: 0}">
              <input nz-input  />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label [nzLg]="{span: 3, offset: 1}">Tên tài khoản</nz-form-label>
            <nz-form-control [nzLg]="{span: 16, offset: 0}">
              <input nz-input  />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-layout>
  </nz-layout>
</nz-layout>